export BASE_URL=http://localhost:3000

export FIREBASE_TOKEN=

export FIREBASE_APIKEY=
export FIREBASE_AUTHDOMAIN=
export FIREBASE_DATABASEURL=
export FIREBASE_PROJECTID=
export FIREBASE_STORAGEBUCKET=
export FIREBASE_MESSAGINGSENDERID=
